#home
  #background
    img(src="/images/layout.gif", border=0)
  #header
    form#form
      #locationbar
        input(type='text', id='loc_search', placeHolder="Enter address or postal code")
      #searchbar
        input(type='text', id='txt_search', placeHolder="What are you looking for?")
      #makenew
        input(type='submit', id='home_submit')
        a(href='/new')
          img(src="/images/newpost.gif",width="90",height="28",border="0")


  #filterbar
    form.
        <input onclick="functionA(0)" type="checkbox" name="filter" value="Events" /> <img src="/images/events.gif" width="14" height="14" border="0" /> Events <br />
        <input onclick="functionA(1)" type="checkbox" name="filter" value="Marketplace" /> <img src="/images/marketplace.gif" width="14" height="14" border="0" /> Marketplace <br />
        <input onclick="functionA(2)" type="checkbox" name="filter" value="Services" /> <img src="/images/services.gif" width="14" height="14" border="0" /> Services <br />
        <input onclick="functionA(3)" type="checkbox" name="filter" value="Housing" /> <img src="/images/housing.gif" width="14" height="14" border="0" /> Housing <br />
        <input onclick="functionA(4)" type="checkbox" name="filter" value="Jobs" /> <img src="/images/jobs.gif" width="14" height="14" border="0" /> Jobs

  #list
    #mcs3_container
      .customScrollBox
        div.container
          .content
            if (deals)
              each deal in deals
                if (deal.source)
                  #listitem
                    a(href='/deals/#{deal.id}')= deal.source
          div.dragger_container
            div.dragger

  #mapspace
    #map
      #map_canvas.big_maps(style='width:100%; height:100%')

  #details
    #focusedImg.prevImg
      img(src="http://bestuff.com/images/images_of_stuff/64x64crop/teddy-bear-124099.jpg?1203884621")

    #focusedName
      if (deal!={})
        h4= deal.source

    #focusedCost
      if (deal!={})
        h4= deal.cost || 'Cost N/A'

    #focusedDetails
      if (deal!={})
        <p><b>Details: </b>asdf as kasjfk kjkaj kjkasd asd a kj;kjs kj kjl;kj asdkjf asd sd lkj kjlkj efgf sfdg dsf s sdfg sdfg sd
        hello ;lkj;lkj as;dkj ;lkjsf askd asd akj twod ksajd ;kjasd </p>
        <p><b>Location: </b>200 University Avenue, Waterloo, ON</p>

        a(href=deal.link) Direct Link.

