!!!
html
  head
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBOClXBkSbImrc-Mi-DT0O-4BD7xnYaF44&sensor=false')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/javascripts/application.js')
    link(rel='stylesheet', href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
